#cartaz{
    margin: 4%;    
    border-radius: 1%;
}
#cartaz :nth-child(1) form{
    opacity: 1;
    margin-left: 20px;
}

#github-logo{
    filter: invert(1);
}

#narutator{
    position: relative;
    height: 252px;
    width: 450px;
    margin: 0 auto;
}

#narutator a{
    position: absolute;
    top: 215px;
    left: 40px;
    color: rgba(255, 255, 255, 0.678);
    width: 450px;
    left:auto;

    background-color: rgba(141, 25, 194, 0.466);
}

#narutator img{
    position: absolute;
    bottom: 0%;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
}

#narutator :nth-child(2):hover{
    opacity: 0; 
}


#smljackson{ 
    background-color: aquamarine;
}

#internal_body{ 
    padding-bottom: 4%;
}

#internal_body :nth-child(1){ 
    margin-top: 4%;
}

#about{
    background-color: black;
    align-self: baseline;
    padding: 5%;
}   