html {
    font-family: Arial, Helvetica, sans-serif;
}

 body {
    background-image: url("/static/img/bg-anime.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    
}

a:hover{
 outline: 0! important;   
}
linear-gradient(
	[ [ <angle> | to <side-or-corner> ] ,]? 
	<color-stop>[, <color-stop>]+
)

<side-or-corner> = [left | right] || [top | bottom]
