<!doctype html>
<html lang="pt-br">
  <head>
    <title>Self.Animate()!</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/core.css') }}">  
</head>
  <body>
    <nav class="navbar navbar-expand navbar-light bg-faded" role="navigation">
            <a href="/" class="nav-link navbar-brand">
                <img src="{{ url_for('static', filename='svg/koinobori.svg') }}" width="50" height="50" alt="koinobori">
                Animate!</a>
        <ul class="navbar-nav right">
            <li class="nav-item active">
                
            </li>
            <li class="nav-item">
                <a href="" class="nav-link">Fork
                    <img src="{{ url_for('static', filename='svg/github-logo.svg') }}" width="30" height="30" alt="github">
                    me!</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link">About</a>
            </li>
        </ul>
    </nav> 

    <div id="cartaz" class="container">
        <h1>Choose wich you want to be!</h1>
        <div class="row">
            
            <div id="narutator" class="container col-md-5">
                <figure class="figure">
                    <img src="{{ url_for('static', filename='img/narutator.png') }}" class="figure-img img-fluid rounded" alt="">
                    <figcaption class="figure-caption text-xs-right text-right">Narutator</figcaption>
                </figure>
                    
            </div>
            <span class="col-md-1"></span>
            <div id="smljackson" class="container col-md-5">
                <p>L</p>
            </div>
        </div>        
        
    </div>



  </body>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='js/core.js') }}"></script>
</html>