<!doctype html>
<html lang="pt-br">
  <head>
    <title>Animate</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/core.css') }}">  
</head>
  <body>
    <nav class="navbar navbar-expand navbar-dark bg-faded" role="navigation">
            <a href="/" class="nav-link navbar-brand">
                <img src="{{ url_for('static', filename='svg/koinobori.svg') }}" width="50" height="50" alt="koinobori">
                Animate!</a>
        <ul class="navbar-nav right">
            <li class="nav-item active">
                
            </li>
            <li class="nav-item">
                <a href="https://github.com/Ronald-TR/opencv-anime-yourself-hall" class="nav-link">Fork
                    <img id="github-logo" class="svg gh-logo" src="{{ url_for('static', filename='svg/github-logo.svg') }}" width="30" height="30" alt="github">
                    me!</a>
            </li>
            <li class="nav-item">
                <a href="#about" class="nav-link">About</a>
            </li>
        </ul>
    </nav> 

    <div id="internal_body" class="">
        <div class="container text-center">
            <h1>Choose who you want to be</h1>
            <p>This is an automathic generator</p>
        </div>


        <div id="cartaz" class="row">
            <div class="container col-md-5">
                <div id="narutator">
                    <img src="{{ url_for('static', filename='img/narutatorn.png') }}" class="img-fluid rounded" alt="">
                    <img src="{{ url_for('static', filename='img/naruto.png') }}" class="img-fluid rounded" alt="">
                    <a href="http://narutator.herokuapp.com/"><strong>&nbsp;&nbsp;&nbsp;Visit! - the Narutator page</strong></a>
                </div>           
    
                <form id="frmnaruto" action="/narutator" class="" method="POST", enctype="multipart/form-data">
                    <label for="input-narutator" class="btn btn-success">Go here!</label>
                    <input id="input-narutator" name="image-narutator" type="file" style="display: none">
                    <button id="btn-narutator" style="display: none" type="submit"></button>
                </form>
                        
            </div>

            <div id="smljackson" class="container col-md-5">
                <p>L</p>
            </div>
        </div>        
        
    </div>

    <div id="about">
        <h4>OpenCV based application</h4>
        <p>Using responsivity in analysis to cut and fit the anime masks correctly (or try it)</p>
    </div>



  </body>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='js/core.js') }}"></script>
</html>